h1 {
  font-weight: bold;
  font-size: 50px;
}
.information i{
    font-size: 2em;
    margin:0 auto;
}
.information.layout-row {
    background: #efefef none repeat scroll 0 0;
    padding: 30px 0;
    text-align: center;
}
.information span{
    line-height: normal;
    font-size:1.5em;
}