h1 {
  font-weight: bold;
  font-size: 50px;
}
.information i{
    background: #757575;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin:0 auto;
}
.information.layout-row {
    background: #efefef none repeat scroll 0 0;
    height: 120px;
    padding: 20px;
    text-align: center;
}