
<h1 class="ui header">Welcome to the 47 52 45 45 4E (Team) Challenge Page.</h1>

<img src="webapp/images/team.jpeg" style="width: 100%;">

<p>
    Today we chose to enhance reporting capabilities for the Federal Dashboard on Sustainable Purchasing. Using data captured
    in the government wide procurement system. This could include slicing and dicing the data by various factor such as product/service,
    total dollars, number of contracts, by quarter/fiscal year, etc. to show where agencies are putting their dollars toward
    environmentally sustainable products and services. We chose to follow the agile process, and we used Kanban board where
    we tracked the progress of tasks throughout the hackathon day. We streamed live updates and screenshots of our Kanban
    board on our Facebook page Earth Day Hackathon:
    <a href="https://www.facebook.com/earthdayhackathon4222016/">https://www.facebook.com/earthdayhackathon4222016/</a>
</p>


<img src="webapp/images/trello.jpeg" style="width: 100%;">