<h2 class="ui center aligned icon header" style="margin-top: 50px; max-width: 450px;">
  <i class="circular world icon"></i>
  <div class="content">
    Sustainable Purchases by State
    <div class="sub header" >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer augue mauris, feugiat sed molestie eu, viverra non lectus.
  Vestibulum id nunc sapien.
     </div>
  </div>
</h2>



<div id="map" ng-controller="MapCtrl" style="width: 960px; margin: 0 auto;"></div>

<h1 class="ui header">Table Chart</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer augue mauris, feugiat sed molestie eu, viverra non lectus.
  Vestibulum id nunc sapien. Pellentesque tincidunt eget tortor sed tristique. Ut interdum sed est sed egestas. Pellentesque
  malesuada aliquet diam, ut euismod nisl maximus vel. Praesent aliquet mi in tellus facilisis, id imperdiet lorem mattis.
  Morbi sit amet iaculis nulla, at vulputate felis. Nam congue venenatis nisl at vehicula.
</p>
<div id="table" ng-controller="TableCtrl"></div>

<h1 class="ui header">Trends Chart</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer augue mauris, feugiat sed molestie eu, viverra non lectus.
  Vestibulum id nunc sapien. Pellentesque tincidunt eget tortor sed tristique. Ut interdum sed est sed egestas. Pellentesque
  malesuada aliquet diam, ut euismod nisl maximus vel. Praesent aliquet mi in tellus facilisis, id imperdiet lorem mattis.
  Morbi sit amet iaculis nulla, at vulputate felis. Nam congue venenatis nisl at vehicula.
</p>
<div id="trend" ng-controller="TrendCtrl"></div>

