<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer augue mauris, feugiat sed molestie eu, viverra non lectus.
  Vestibulum id nunc sapien. Pellentesque tincidunt eget tortor sed tristique. Ut interdum sed est sed egestas. Pellentesque
  malesuada aliquet diam, ut euismod nisl maximus vel. Praesent aliquet mi in tellus facilisis, id imperdiet lorem mattis.
  Morbi sit amet iaculis nulla, at vulputate felis. Nam congue venenatis nisl at vehicula.
</p>
<ul>
  <li><a href="/map">Map</a></li>
  <li><a href="/table">Table</a></li>
  <li><a href="/trend">trend</a></li>
</ul>
<div>
  <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-sm>
    Toggle left
  </md-button>
</div>
<div>
  <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
    Toggle right
  </md-button>
</div>