<div layout="column" layout-fill layout-align="top center">

<div ng-hide="rows">
  Loading...
</div>

<h3>
  <strong>{{stateName}}</strong> has <strong>{{count}}</strong> sustainable transactions
</h3>

<table class="ui celled table">
  <thead ng-show="rows">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>State</th>
      <th>Date</th>
      <th style="text-align:right !important;">Amount</th>
    </tr>
  </thead>
  <tbody ng-repeat="row in rows">
  <tr>
    <td>{{row.identifier}}</td>
    <td>{{row.productName}}</td>
    <td>{{row.stateCode}}</td>
    <td>{{row.date | date}}</td>
    <td style="text-align:right !important;">$ {{row.amount | number : 2}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr><th colspan="8">
    <div class="ui right floated pagination menu">
      <a class="icon item" ng-click="prevPage()">
        <i class="left chevron icon"></i>
      </a>

      <a class="icon item" ng-click="nextPage()">
        <i class="right chevron icon"></i>
      </a>
    </div>
  </th>
  </tr></tfoot>
</table>

<div ng-show="false">
  <p>Current page:
    <input type="number" min="1" max="{{ pagination.getTotalPages() }}" ng-model="pagination.pageNumber"
           ng-change="load()">of {{ pagination.getTotalPages() }}
  </p>
  <button type="button" class="btn btn-success" ng-click="pagination.previousPage()">previous page</button>
  <button type="button" class="btn btn-success" ng-click="pagination.nextPage()">next page</button>
</div>

</div>
