<a href="/">&lt;-- Home</a>

<div ng-hide="rows">
  Loading...
</div>

<table class="ui celled table">
  <thead ng-show="rows">
    <tr>
      <th>#</th>
      <th>id</th>
      <th>agency</th>
      <th>productName</th>
      <th>state</th>
      <th>date</th>
      <th>amount</th>
    </tr>
  </thead>
  <tbody ng-repeat="row in rows">
  <tr>
    <td>{{$index}}</td>
    <td>{{row.identifier}}</td>
    <td>{{row.agencyName}}</td>
    <td>{{row.productName}}</td>
    <td>{{row.stateCode}}</td>
    <td>{{row.date | date}}</td>
    <td>$ {{row.amount | number : 2}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr><th colspan="8">
    <div class="ui right floated pagination menu">
      <a class="icon item">
        <i class="left chevron icon"></i>
      </a>
      <a class="active item">1</a>
      <a class="item">2</a>
      <a class="item">3</a>
      <a class="item">4</a>
      <a class="icon item">
        <i class="right chevron icon"></i>
      </a>
    </div>
  </th>
  </tr></tfoot>
</table>

<div ng-show="false">
  <p>Current page:
    <input type="number" min="1" max="{{ pagination.getTotalPages() }}" ng-model="pagination.pageNumber"
           ng-change="load()">of {{ pagination.getTotalPages() }}
  </p>
  <button type="button" class="btn btn-success" ng-click="pagination.previousPage()">previous page</button>
  <button type="button" class="btn btn-success" ng-click="pagination.nextPage()">next page</button>
</div>


